* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  position: relative;
  border: 2px solid black;
  width: 400px;
  height: 300px;
  margin: 10px;
}
p {
  position: absolute;
  background-color: aqua;
  padding: 20px;
  text-align: center;
  top: 60px;
  right: 75px;
}
